__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*checkpoint.ipynb

.venv/
venv/
env/

build/
dist/
*.egg-info/
release/

.DS_Store
Thumbs.db
.idea/
.vscode/

*.log
*.tmp
*.temp

fo
individualExperimentAnalysis/
